
.color-example {
    color: blueviolet; 
    background-color: #f0f8ff; 
    border: 2px solid rgb(62, 108, 167);
}


.header-example {
    font-size: 2em;
    font-family: Arial, sans-serif;
    color: rgb(113, 33, 129);
}


.list-example {
    list-style-type: square; 
    color: rgb(194, 94, 219); 
}


.text-example {
    font-family: 'Courier New', Courier, monospace; 
    font-size: 1.2em;
    text-transform: capitalize;
    text-decoration: underline;
}


.div-example {
    background-color: #7575b1; 
    border: 2px solid rgb(53, 22, 104);
    padding: 15px;
}
